data
5.diena-E.Brekis_1.Prezentacija MASTER.pdf
ne_110m_admin_0_countries
baltija.png
Gamma.png
kastes_kluda.png
kastes_labs.png
pilsetas.png
report.pdf
report.synctex.gz
Vol.txt
ESWI.txt
ESWIroca.txt
ECMWF_prognozes.nc